
# dependencies
node_modules

# production
/deploy
/dist

# misc
.DS_Store
.idea
*.iml

.npmrc
npm-debug.log*
examples/.cache
examples/node_modules
lib

packages/plugins/physics/arcade/lib
packages/plugins/physics/snap/lib
packages/plugins/physics/matter/lib
packages/storage-adapters/firebase/lib
