
# dependencies
node_modules

# production
/deploy
/dist

# misc
.DS_Store
.idea
*.iml

.npmrc
npm-debug.log*

#lib folders
lib
packages/plugins/physics-arcade/lib
packages/plugins/physics-snap/lib
packages/plugins/physics-matter/lib
packages/plugins/physics-crunch/lib
packages/plugins/google-analytics/lib
packages/plugins/rive/lib
packages/plugins/springroll/lib
packages/plugins/rollbar/lib
packages/storage-adapters/firebase/lib
packages/storage-adapters/supabase/lib
apps/kitchen-sink/public/assets
apps/kitchen-sink/node_modules
apps/kitchen-sink/.assetpack
apps/kitchen-sink/.cache
apps/kitchen-sink/.env
apps/cli-test-app/

.turbo

