
# dependencies
node_modules

# production
/deploy
/dist

# misc
.DS_Store
.idea
*.iml

.npmrc
npm-debug.log*
packages/examples/.cache
packages/examples/node_modules

#lib folders
lib
packages/plugins/physics-arcade/lib
packages/plugins/physics-snap/lib
packages/plugins/physics-matter/lib
packages/plugins/rive/lib
packages/storage-adapters/firebase/lib
packages/examples/public/assets
packages/examples/.assetpack
packages/examples/.cache
packages/examples/.env

.turbo
