@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700;800&display=swap');

:root {
  --sl-font: 'Kumbh Sans';
  --sl-color-bg: #1f2937;
  --sl-color-black: #181818;
  --sl-color-bg-sidebar: #0e172a;

  --sl-color-accent: #8AC733;
  --sl-color-accent-high: #8AC733;
  --sl-color-accent-low: #222;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-bg: white;
  
  --sl-color-accent: #6ea81d;
  --sl-color-accent-high: #8AC733;
  --sl-color-accent-low: #8AC733;
}

.action {
  @apply font-bold;
}

.hero .tagline {
  @apply font-semibold text-2xl;
}
