#dill-pixel-game-container {
  position: relative;
}
#dill-pixel-game-container::before,
#dill-pixel-game-container::after {
  pointer-events: none;
}

#dill-pixel-game-container::before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background-color: #000;
  background-repeat: no-repeat;
  /* dill pixel jar */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 841 162'%3E%3Cpath fill='%238ac733' d='M222.69,6.46h-39.51v125.17h65.9V92.12h-26.39V6.46z M147.72-0.02c-12.33,0-22.28,10.11-22.28,22.28 c0,12.33,9.96,22.44,22.28,22.44c12.33,0,22.44-10.11,22.44-22.44C170.16,10.1,160.04-0.02,147.72-0.02z M300.69,6.46h-39.51 v125.17h71.17V92.12h-31.66V6.46z M127.96,131.63h39.51V49.92h-39.51V131.63z M73.21,31.59c-5.37-1.74-11.06-2.69-17.07-2.69 c-31.29,0-56.58,25.29-56.58,56.58c0,31.29,25.29,56.58,56.58,56.58c6.01,0,11.7-0.95,17.07-2.69v5.37h39.51V6.46H73.21V31.59z M72.76,98.37c0,2.91-2.36,5.27-5.27,5.27H42.46c-2.91,0-5.27-2.36-5.27-5.27V73.34c0-2.91,2.36-5.27,5.27-5.27h25.03 c2.91,0,5.27,2.36,5.27,5.27V98.37z M621.15,25.43L589.7,56.88l-31.29-31.45l-28.13,28.13l31.29,31.45l-31.29,31.29l28.13,28.13 l31.45-31.29l31.29,31.29l28.13-28.13l-31.45-31.45l31.45-31.29L621.15,25.43z M814.61,92.12V6.46H775.1v125.17H841V92.12H814.61z M504.01-0.02c-12.33,0-22.28,10.11-22.28,22.28c0,12.33,9.96,22.44,22.28,22.44c12.33,0,22.44-10.11,22.44-22.44 C526.45,10.1,516.34-0.02,504.01-0.02z M708.25,28.9c-31.29,0-56.58,25.29-56.58,56.58v19.76c0,31.45,25.29,56.74,56.58,56.74 c1.74,0,2.21,0,3.95,0v-39.51c-1.74,0-2.21,0-3.95,0c-9.32,0-17.23-7.11-17.23-17.23h73.81V85.48 C764.83,54.19,739.55,28.9,708.25,28.9z M709.35,82.67c-6.36,0-11.51-5.15-11.51-11.51c0-6.36,5.15-11.51,11.51-11.51 c6.36,0,11.51,5.15,11.51,11.51C720.86,77.51,715.71,82.67,709.35,82.67z M418.75,28.9c-6.01,0-11.7,0.95-17.07,2.69v-5.37h-39.51 v131.81h39.51v-18.65c5.37,1.74,11.06,2.69,17.07,2.69c31.29,0,56.58-25.29,56.58-56.58C475.33,54.19,450.05,28.9,418.75,28.9z M436.28,98.37c0,2.91-2.36,5.27-5.27,5.27h-25.03c-2.91,0-5.27-2.36-5.27-5.27V73.34c0-2.91,2.36-5.27,5.27-5.27h25.03 c2.91,0,5.27,2.36,5.27,5.27V98.37z M484.25,131.63h39.51V49.92h-39.51V131.63z'/%3E%3C/svg%3E%0A");
  background-size: clamp(250px, 40vw, 450px);
  background-position: center calc(50% - 70px);
}

#dill-pixel-game-container::after {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif;
  position: absolute;
  display: block;
  color: white;
  content: 'Loading...';
  font-size: 20px;
  z-index: 1;
  animation: loadingDots 3s infinite;
  top: 50%;
  left: 50%;
  transform: translate(-40px, calc(-50% + 10px));
}

#dill-pixel-game-container.loaded::before,
#dill-pixel-game-container.loaded::after {
  animation: loaded 0.6s forwards ease-in;
}

@keyframes loadingDots {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
}

@keyframes loaded {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
